body {
    padding: 20px;
    background-color: #bdbdbd;
}

h1, p {
    text-align: center;
}

header {
    background-color: #dd2c00;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center-form {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.bandInformation, li {
    text-align: left;
    list-style: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: right;
}

.bld {
    font-weight: bold;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, tr, td {
  border: 1px solid black;
}

.songRow {
  width: 50%;
}

.viewRow {
  width: 35%;
}
